{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HellWorld editor</title>

    <link href="{% static "pandemic/css/jquery-ui.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "pandemic/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "pandemic/css/editor_style.css" %}">
    <script src="{% static "pandemic/js/jquery.min.js" %}"></script>
    <script src="{% static "pandemic/js/popper.min.js" %}"></script>
    <script src="{% static "pandemic/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pandemic/js/howler.min.js" %}"></script>
    <script type="text/javascript">
        let csrftoken = "{{ csrf_token }}";
        let editor_urls = {
            adhd_imgs: "{% url "pandemic:adhd_images" %}",
            yawn: "{% static "pandemic/sound/yawn.wav" %}",
            sneeze: "{% static "pandemic/sound/sneeze.wav" %}",
            snot: "{% static "pandemic/img/snot2.png" %}",
            active_diseases: "{% url 'pandemic:active_diseases' %}",
            login: "{% url "people:login" %}",
            logout: "{% url "people:logout" %}",
            rules: "{% url 'pandemic:rules' %}",
            submit: "{% url 'submit:code_submit' %}",
            submit_status: "{% url 'submit:submit_status' 4247 %}",
            assignment: "{% url "submit:task_assignment" 4247 %}",
            medicine_inventory: "{% url "pandemic:medicine_inventory" %}",
            medicine_purchase: "{% url "pandemic:medicine_purchase" %}",
        }
    </script>
</head>
<body style="background-color: #555555;">
    <div id="assignment-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <embed id="task-pdf" src="" type="application/pdf" width="100%" height="700px" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div id="sleep-overlay"></div>
    <div id="flu-overlay"></div>
    <div id="editor-container" class="row">
        <div class="col-md-8">
            <div id="editor-toolbar" class="row">
                <form method="post" action="{% url "people:logout" %}" class="logout-form">
                    <input class="btn btn-danger" type="submit" value="Logout" />
                </form>
                <select id="task-selector">
                    {% for task in tasks %}
                        <option value="{{ task.pk }}" style="background-color: green;">{{ task.name }} ({{ task.points }}b)</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#assignment-modal">Task assignment</button>
                <select id="language-selector">
                    {% for value, key in submit_cls.LANGUAGE_CHOICES %}
                        <option value={{ value }}>{{ key }}</option>
                    {% endfor %}
                </select>
                <button id="quicksave-button" class="btn btn-info">Quicksave</button>
                <button id="restore-button" class="btn btn-info">Restore saved</button>
                <button id="submit-button" class="btn btn-danger">Submit</button>
            </div>
            <div class="row">
                <div id="dummy-editor-window" style="display: none" class="col-md-12">
                    <img id="adhd-img" src="">
                </div>
                <div id="editor-window" class="col-md-12" style="margin: 0px"></div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Your submits</h2>
                <div id="submit-history" class="col-md-12">
                </div>
            </div>
            <div class="row">
                <h2>Your diseases</h2>
                <div id="disease-panel" class="col-md-12">
                </div>
            </div>
            <div class="row">
                <h2>Your medicine inventory</h2>
                <div id="medicine-inventory" class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static "pandemic/js/utils.js" %}"></script>
<script src="{% static "pandemic/js/diseases.js" %}"></script>
<script src="{% static "pandemic/js/editor.js" %}"></script>
</html>