{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HellWorld editor</title>

    <link rel="stylesheet" type="text/css" href="{% static "pandemic/editor_style.css" %}">
    <link href="{% static "pandemic/jquery-ui.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "pandemic/bootstrap.min.css" %}">
    <script src="{% static "pandemic/jquery.min.js" %}"></script>
    <script src="{% static "pandemic/popper.min.js" %}"></script>
    <script src="{% static "pandemic/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>
    <script type="text/javascript">
        let logout_link = "{% url 'people:logout' %}";
        let task_pdf_link = "{% url 'submit:task_assignment' 1 %}";
        let code_submit_url = "{% url 'submit:code_submit' %}";
        let submit_status_url = "{% url 'submit:submit_status' 4247 %}";
        let active_diseases_url = "{% url 'pandemic:active_diseases' %}";
        let rules_url = "{% url 'pandemic:rules' %}";
        let balance = {{ balance }};
        let csrftoken = "{{ csrf_token }}";
    </script>
</head>
<body style="background-color: #555555;">
    <!-- Modal -->
    <div id="assignment-modal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <embed id="task-pdf" src="" type="application/pdf" width="100%" height="700px" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div id="sleep-overlay"></div>
    <div id="editor-container" class="row">
        <div class="col-md-8">
            <div id="editor-toolbar" class="row">
                <label for="task-selector">Task selection</label><select id="task-selector">
                    {% for task in tasks %}
                        <option value="{{ task.pk }}" style="background-color: green;">{{ task.name }} ({{ task.points }}b)</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#assignment-modal">Task assignment</button>
                <label for="language-selector">Language selection</label><select id="language-selector">
                    {% for value, key in submit_cls.LANGUAGE_CHOICES %}
                        <option value={{ value }}>{{ key }}</option>
                    {% endfor %}
                </select>
                <button id="quicksave-button" class="btn btn-info">Quicksave</button>
                <button id="restore-button" class="btn btn-info">Restore saved</button>
                <button id="submit-button" class="btn btn-danger">Submit</button>
            </div>
            <div class="row">
                <div id="dummy-editor-window" style="display: none" class="col-md-12">
                    <img id="adhd-img" src="">
                </div>
                <div id="editor-window" class="col-md-12" style="margin: 0px"></div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <form method="post" action="{% url "people:logout" %}" class="logout-form">
                    <input class="btn btn-danger" type="submit" value="Logout" />
                </form>
            </div>
            <div class="row">
                <h2>Your submits</h2>
                <div id="submit-history" class="col-md-12">
                </div>
            </div>
            <div class="row">
                <h2>Your diseases</h2>
                <div id="disease-panel" class="col-md-12">

                </div>
            </div>
            <div class="row">
                <h2>Your medicine inventory</h2>
                <div id="medicine-inventory" class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
$( document ).ready(function() {
    function getJson(url, callback){
        fetch(url)
            .then((response) => {return response.json()})
            .then(data => callback(data))
    }

    function postJson(url, data, callback){
        console.log(url, data);
        fetch(url, {
            method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json; charset=UTF-8',
                'X-CSRFToken': csrftoken
              },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => callback(data));
    }

    function setCursor(element){
        $('#editor-window').find('.editor-char').removeClass('editor-char-cursor');
        $('#editor-window').find('.editor-sentinel-char').removeClass('editor-char-cursor');
        editor.cursored_element = element;
    }

    class Disease {
        constructor(intensity){
            this.cooldown_interval = null;

            this.active = false;
            this.effect_duration = 0;
            this.cooldown_duration = 0;
            this.description = 0;

            this.setParameters(intensity, 1, 1, "", "");
        }

        setParameters(name, intensity, effect, cooldown, description){
            this.name = name;
            this.intensity = intensity;
            this.effect_duration = effect;
            this.cooldown_duration = cooldown;
            this.description = description;
        }

        activateEffect(){
            editor.disease_panel.markAsActive(this.name);
            this.active = true
        }
        removeEffect(){
            editor.disease_panel.markAsInactive(this.name);
            this.active = false
        }

        manifest(){
            if (this.cooldown_interval){
                clearInterval(this.cooldown_interval);
            }
            if (this.intensity === 0) return;
            this.activateEffect();
            this.interval = setInterval(
                this.deactivate.bind(this),
                this.effect_duration
            )
        }

        deactivate(){
            if (this.interval) {
                clearInterval(this.interval);
            }
            this.removeEffect();
            this.cooldown_interval = setInterval(
                this.manifest.bind(this),
                this.cooldown_duration
            )
        }
    }

    class Parkinson extends Disease{
        constructor(intensity){
            super(intensity);
            this.keyboard = [
                '1234567890-='.split(''),
                'qwertyuiop[]'.split(''),
                [null].concat(('asdfghjkl;\'\\'.split(''))),
                [null].concat(('zxcvbnm,./'.split('')))
            ];
            this.neighbors = [
                [[-1, 0], [-1, -1], [0, -1], [0, 1], [1, 0], [1, -1]],
                [[-1, 0], [-1, 1], [0, -1], [0, 1], [1, 0], [1, 1]]
            ];
        }

        getKeyAtCoordinates(x, y){
            if (x < 0 || y < 0) return null;
            if (y >= this.keyboard.length) return null;
            if (x >= this.keyboard[y].length) return null;

            return this.keyboard[y][x];
        }

        getRandomNearby(x, y){
            let candidates = [];
            this.neighbors[y % 2].forEach(
                (delta) => {
                    let n = this.getKeyAtCoordinates(x + delta[1], y + delta[0]);
                    if (n !== null){
                        candidates.push(n);
                    }
                }
            );
            if (candidates.length === 0) return null;
            return candidates[Math.floor(Math.random()*candidates.length)];
        }

        mangleKey(key){
            if (!this.active) return key;

            let lower = key.toLowerCase();
            let x = -1, y = -1;
            this.keyboard.forEach(
                (row, y_coord) => {
                    if (row.includes(lower)){
                        y = y_coord;
                        x = row.indexOf(lower);
                    }
                }
            );

            if (x === -1) return key;

            let prob = (this.intensity / 2) / 100;
            let random_neighbor = this.getRandomNearby(x, y);
            return(Math.random() < prob) ? (random_neighbor ? random_neighbor: key) : key;
        }
    }

    let parkinson = new Parkinson(0);

    class ADHD extends Disease {
        activateEffect(){
            super.activateEffect();
            $('#editor-window').hide();
            $("#adhd-img").attr("src", "{% url "pandemic:adhd" %}" + "?" + new Date().getTime());
            $('#dummy-editor-window').show();
        }
        removeEffect(){
            super.removeEffect();
            $("#adhd-img").attr("src", "");
            $('#dummy-editor-window').hide();
            $('#editor-window').show();
        }
    }

    let adhd = new ADHD(0);

    class Shortsightedness extends Disease{
        activateEffect(){
            super.activateEffect();
            $('#editor-window').find('.editor-char').addClass('editor-char-blurred')
        }

        removeEffect(){
            super.removeEffect();
            $('#editor-window').find('.editor-char').removeClass('editor-char-blurred');
        }
    }

    let shortsightedness = new Shortsightedness(0);

    class Stutter extends Disease {
        getRepeats(){
            let prob = (this.intensity / 2) / 100;
            return(Math.random() < prob) ? Math.ceil(Math.random() * 4) : 1;
        }
    }

    let stutter = new Stutter();

    class Sleeping extends Disease {
        constructor(props) {
            super(props);
            this.fade_timer = null;
            this.opacity = 0;
        }

        activateEffect(){
            super.activateEffect();
            $('#sleep-overlay').addClass('dimmer');
            var sound = new Howl({
                src: ["{% url "pandemic:yawn" %}"],
                format: ['mp3'],
                volume: 0.5,
                onend: function() {
                    console.log('Finished!');
                }
            });
            sound.play();
            this.fade_timer = setInterval(() => {
                if (this.opacity < 100){
                    this.opacity = this.opacity += 1;
                    $('#sleep-overlay').css('opacity', this.opacity / 100);
                } else {
                    clearInterval(this.fade_timer);
                }
            }, 30);
        }

        removeEffect(){
            super.removeEffect();
            clearInterval(this.fade_timer);
            this.fade_timer = setInterval(() => {
                if (this.opacity > 0){
                    this.opacity = this.opacity -= 1;
                    $('#sleep-overlay').css('opacity', this.opacity / 100);
                } else {
                    clearInterval(this.fade_timer);
                    $('#sleep-overlay').removeClass('dimmer')
                }
            }, 10);
        }
    }

    let sleeping = new Sleeping();

    class EditorRow {
        constructor(content, pos, parent){
            this.handleCharClick = this.handleCharClick.bind(this);
            this.parent = parent;
            this.position = pos;
            this.cursor_position = 0;
            this.html = $('<div/>')
                .addClass('editor-row')
                .attr('tabindex', "0")
                .keydown(this.handleKeyDown.bind(this));

            this.content = content.split('');
            this.buildCharacters();
        }

        buildCharacters(){
            this.characters = this.content.map(
                (char, i) => {
                    let el = $('<div/>')
                        .addClass('editor-char')
                        .html(char)
                        .data('position', i)
                        .click(this.handleCharClick);
                    if (shortsightedness.active){
                        el.addClass('editor-char-blurred')
                    }
                    return el;
                }
            );
            this.characters.push(
                $('<div/>')
                    .addClass('editor-sentinel-char')
                    .html(' ')
                    .data('position', this.characters.length)
                    .click(this.handleCharClick)
            );
            this.html.empty().append(this.characters);
        }

        append(content){
            this.content.push(...content);
            this.buildCharacters();
        }

        setCursorPosition(position){
            this.cursor_position = position;
            setCursor(this.characters[this.cursor_position]);
        }

        getContent(){
            return this.characters.filter((x) => x.hasClass('editor-char')).reduce(
                (acc, char_el) => {
                    return acc + char_el.text()
                }, ""
            )
        }

        handleKeyDown(e){
            console.log(e.keyCode, e.key);
            switch (e.keyCode) {
                case 13: {
                    let remainder = this.getContent().slice(this.cursor_position);
                    this.content = this.content.slice(0, this.cursor_position);
                    this.buildCharacters();
                    this.parent.newLine(this.position, remainder);
                    break;
                }
                case 8: {
                    if (this.cursor_position === 0){
                        this.parent.removeLine(this.position, this.content.slice(this.cursor_position));
                    } else {
                        this.content.splice(this.cursor_position -1, 1);
                        this.buildCharacters();
                        this.cursor_position--;
                        setCursor(this.characters[this.cursor_position]);
                    }
                    break
                }
                case 37: {
                    this.cursor_position = Math.max(this.cursor_position - 1, 0);
                    setCursor(this.characters[this.cursor_position]);
                    break
                }
                case 39: {
                    this.cursor_position = Math.min(this.cursor_position + 1, this.content.length);
                    setCursor(this.characters[this.cursor_position]);
                    break
                }
                default: {
                    if ([16, 17, 18, 20, 46, 9, 38, 40].includes(e.keyCode)) break;

                    let mangled_key = parkinson.mangleKey(e.key);
                    for (var i = 0; i < stutter.getRepeats(); i++){
                        this.content.splice(this.cursor_position, 0, mangled_key);
                        this.buildCharacters();
                        this.cursor_position ++;
                    }
                    setCursor(this.characters[this.cursor_position]);
                }
            }
        }

        handleCharClick(e){
            e.preventDefault();
            this.cursor_position = $(event.currentTarget).data('position');
            setCursor(this.characters[this.cursor_position]);
        }
    }

    class EditorWindow {
        constructor(){
            this.html = $('#editor-window');
            this.cursor_blink = setInterval(() => {
                if (editor.cursored_element){
                    if (!editor.cursored_element.hasClass('editor-char-cursor')){
                        editor.cursored_element.addClass('editor-char-cursor');
                    } else {
                        editor.cursored_element.removeClass('editor-char-cursor');
                    }
                }
            }, 500);
        }

        setContent(content){
            this.cursor_position = 0;
            this.rows = content.split('\n').map(
                (c, i) => {
                    return new EditorRow(c, i, this)
                }
            );
            this.html.children().remove();
            this.html.append(...this.rows.map((x) => x.html));
        }

        removeLine(position, remainder){
            if (position > 0){
                this.rows.forEach((row, index) => {
                    if (index > position) row.position--;
                });
                this.rows.splice(position, 1);
                this.html.children().slice(position, position + 1).remove();
                let prev_line_len = this.rows[position - 1].content.length;
                this.rows[position - 1].append(remainder);
                this.rows[position - 1].setCursorPosition(prev_line_len);
                this.rows[position - 1].html.focus()
            }

        }

        newLine(position, content){
            this.rows.forEach((row, index) => {
                if (index > position) row.position++;
            });
            let new_row = new EditorRow(content, position + 1, this);
            this.rows.splice(position + 1, 0, new_row);
            $("#editor-window > div:nth-child(" + (position + 1) + ")").after(new_row.html);
            setCursor(new_row.html.children().first());
            new_row.html.children().first().focus()
        }

        getContent(){
            let c = this.rows.reduce(
                (acc, row) => {
                    return acc + row.getContent() + '\n'
                }, ''
            );
            return c.slice(0, c.length - 1);
        }
    }

    class DiseasePanel {
        constructor(){
            this.diseases = {};
            this.disease_tabs = {};
            this.container = $('#disease-panel');

            this.updateDiseases();
            this.active_disease_timer = setInterval(
                () => this.updateDiseases(),
                2000,
            );
        }

        markAsActive(disease_name){
            this.disease_tabs[disease_name].addClass('disease-tab-active')
        }

        markAsInactive(disease_name){
            this.disease_tabs[disease_name].removeClass('disease-tab-active')
        }

        render(){
            this.container.children().remove();
            this.disease_list = Object.entries(this.diseases).map(
                ([disease_name, disease]) => {
                    let stats = '(Cooldown ' + disease.cooldown_duration / 1000 + 's, effect '+ disease.effect_duration / 1000 + 's)';
                    let el = $('<div/>')
                        .html(disease_name + stats)
                        .addClass('disease-tab');
                    if (this.diseases[disease_name].active) el.addClass('disease-tab-active');
                    this.disease_tabs[disease_name] = el;
                    return el;
                }
            );
            this.container.append(
                this.disease_list
            )
        }

        updateDiseases(){
            getJson("{% url 'pandemic:active_diseases' %}", (data) => {
                data.forEach((instance) => {
                    let cls = undefined;
                    let disease_name = instance.disease.name;
                    let params = [
                        disease_name,
                        instance.severity,
                        instance.effect_duration * 1000,
                        instance.cooldown_duration * 1000,
                        instance.disease.description,
                    ];
                    switch(disease_name){
                        case 'Shortsightedness': {
                            cls = shortsightedness;
                            break
                        }
                        case 'Parkinson': {
                            cls = parkinson;
                            break
                        }
                        case 'ADHD': {
                            cls = adhd;
                            break;
                        }
                        case 'Stutter': {
                            cls = stutter;
                            break;
                        }
                        case 'Sleeping': {
                            cls = sleeping;
                            break;
                        }
                        default: {
                            break
                        }
                    }
                    cls.setParameters(...params);
                    if(!this.diseases[disease_name]){
                        this.diseases[disease_name] = cls;
                        this.render();
                        cls.manifest();
                    }
                    this.render();
                });
            });
        }
    }

    class MedicinePanel{
        constructor(){
            setInterval(
                () => this.updateMedicine(),
                2000
            );
            this.balance = balance;
            this.container = $('#medicine-inventory');
            this.useMedicine = this.useMedicine.bind(this);
            this.purchaseMedicine = this.purchaseMedicine.bind(this);
            this.updateMedicine();
        }

        render(data){
            let meds = data.map(
                (med) => {
                    return $('<div/>')
                        .addClass('medicine-item')
                        .append(
                        $('<button/>')
                            .data('medicine_pk', med.medicine_pk)
                            .addClass('btn btn-info')
                            .html('Use '+ med.medicine_name + '('+ med.amount +')')
                            .click(this.useMedicine))
                        .append(
                        $('<button/>')
                            .data('medicine_pk', med.medicine_pk)
                            .addClass('btn btn-danger')
                            .html('Purchase for $' + med.price)
                            .click(this.purchaseMedicine)
                        )
                }
            );
            this.container.children().remove();
            this.container.append(
                $('<h3/>').html('Current accout balance: $' + this.balance)
            );
            this.container.append(meds);
        }

        purchaseMedicine(event){
            let url = "{% url "pandemic:buy_medicine" %}";
            postJson(url, {medicine_pk: $(event.currentTarget).data('medicine_pk')}, (data) => {
                this.balance = data.balance;
                this.updateMedicine();
            });
        }

        useMedicine(event){
            let url = "{% url "pandemic:thefuck" %}";
            postJson(url, {medicine_pk: $(event.currentTarget).data('medicine_pk')}, (data) => {
                if (!data.message) this.render(data);
            });
        }

        updateMedicine(){
            getJson("{% url "pandemic:thefuck" %}", (data) => {
                this.render(data);
            });
        }
    }

    class SubmitHistory {
        constructor(){
            this.container = $('#submit-history')
        }

        addSubmit(submit_id){
            this.container.append(
                $('<div/>').html('Submit ' + submit_id + ': Waiting').data('submit-id', submit_id)
            )
        }

        updateSubmitStatus(id, status, task_id){
            this.container
                .children()
                .filter((i, el) => {return $(el).data('submit-id') === id})
                .html('Submit ' + id + editor.rules.submit_statuses[status]);
            if (editor.rules.submit_statuses[status]){
                console.log($('#task-selector').children().filter((el) => el.value === task_id));
                $('#task-selector').children().filter((el) => el.value === task_id).forEach(
                    (el) => {
                        el.text(el.text() + 'Done')
                    }
                )
            }
        }
    }

    class Editor {
        constructor(){
            this.cursored_element = undefined;

            this.updateRules();
            this.rule_update_timer = setInterval(
                () => this.updateRules(),
                20000
            );

            this.editor_window = new EditorWindow();
            this.editor_window.setContent('Hello World\nPlease work\nReally tho');
            this.submit_history = new SubmitHistory();
            this.medicine_panel = new MedicinePanel();
            this.disease_panel = new DiseasePanel();
            $('#submit-button').click(this.submitCode.bind(this));
            $('#quicksave-button').click(this.quickSave.bind(this));
            $('#restore-button').click(this.restore.bind(this));

            $('#task-selector').change(this.changeTask);
            this.changeTask();
            this.saved_code = "";
        }

        changeTask(){
            let val = $('#task-selector').val();
                $('#task-pdf').attr(
                    'src', "{% url "submit:task_assignment" 4247 %}".replace('4247', val) + "?" + new Date().getTime()
            )
        }

        submitCode(){
            let payload = {
                code: this.editor_window.getContent(),
                language: $('#language-selector').val(),
                task: $('#task-selector').val()
            };
            postJson("{% url 'submit:code_submit' %}", payload, (response) => {
                this.submit_history.addSubmit(response.submit_id);
                this.submit_result_timer = setInterval(
                    () => this.pollSubmitResult(response.submit_id),
                    2000
                );
            })
        }

        quickSave(e){
            this.saved_code = this.editor_window.getContent();
        }

        restore(e){
            this.editor_window.setContent(this.saved_code);
        }

        pollSubmitResult(submit_id){
            let base_url = "{% url 'submit:submit_status' 4247 %}";
            getJson(base_url.replace('4247', submit_id), (response) => {
                if (response.status > 1){
                    this.submit_history.updateSubmitStatus(submit_id, response.status);
                    clearInterval(this.submit_result_timer);
                }
            })
        }

        updateRules(){
            getJson("{% url 'pandemic:rules' %}", (data) => {this.rules = data});
        }
    }
    let editor = new Editor();
});
</script>
</html>