{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HellWorld editor</title>

    <link rel="stylesheet" type="text/css" href="{% static "pandemic/editor_style.css" %}">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        let logout_link = "{% url 'people:logout' %}";
        let task_pdf_link = "{% url 'submit:task_assignment' 1 %}";
        let code_submit_url = "{% url 'submit:code_submit' %}";
        let submit_status_url = "{% url 'submit:submit_status' 4247 %}";
        let active_diseases_url = "{% url 'pandemic:active_diseases' %}";
        let rules_url = "{% url 'pandemic:rules' %}";
        let csrftoken = "{{ csrf_token }}";
    </script>
</head>
<body>
    <div id="editor-container">
        <div class="col-md-8">
            <div id="editor-toolbar" class="row">
                <select id="language-selector">
                    {% for value, key in submit_cls.LANGUAGE_CHOICES %}
                        <option value={{ value }}>{{ key }}</option>
                    {% endfor %}
                </select>
                <button id="submit-button" class="btn-danger">Submit</button>
            </div>
            <div class="row">
                <div id="dummy-editor-window" style="display: none" class="col-md-12">
                    <img id="adhd-img" src="">
                </div>
                <div id="editor-window" class="col-md-12" style="margin: 0px"></div>
            </div>

        </div>
        <div class="col-md-4" >
            <div id="submit-history" class="row">

            </div>
            <div id="disease-panel" class="row">

            </div>
            <div id="medicine-inventory">

            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
$( document ).ready(function() {
    function getJson(url, callback){
        fetch(url)
            .then(response => response.json())
            .then(data => callback(data))
    }

    function postJson(url, data, callback){
        fetch(code_submit_url, {
            method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json; charset=UTF-8',
                'X-CSRFToken': csrftoken
              },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => callback(data));
    }

    function setCursor(element){
        $('#editor-window').find('.editor-char').removeClass('editor-char-cursor');
        $('#editor-window').find('.editor-sentinel-char').removeClass('editor-char-cursor');
        editor.cursored_element = element;
    }

    class Disease {
        constructor(intensity){
            this.cooldown_interval = null;
            this.active = false;
            this.effect_duration = 0;
            this.cooldown_duration = 0;
            this.setParameters(intensity, 5000, 5000);
        }

        setParameters(intensity, effect, cooldown){
            this.intensity = intensity;
            this.effect_duration = effect;
            this.cooldown_duration = cooldown;
            console.log(this.cooldown_duration, this.effect_duration);
        }

        activateEffect(){this.active = true}
        removeEffect(){this.active = false}

        manifest(){
            if (this.cooldown_interval){
                clearInterval(this.cooldown_interval);
            }
            if (this.intensity === 0) return;
            this.activateEffect();
            this.interval = setInterval(
                this.deactivate.bind(this),
                this.effect_duration
            )
        }

        deactivate(){
            if (this.interval) {
                clearInterval(this.interval);
            }
            this.removeEffect();
            this.cooldown_interval = setInterval(
                this.manifest.bind(this),
                this.cooldown_duration
            )
        }
    }

    class Parkinson extends Disease{
        constructor(intensity){
            super(intensity);
            this.keyboard = [
                '1234567890-='.split(''),
                'qwertyuiop[]'.split(''),
                [null].concat(('asdfghjkl;\'\\'.split(''))),
                [null].concat(('zxcvbnm,./'.split('')))
            ];
            this.neighbors = [
                [[-1, 0], [-1, -1], [0, -1], [0, 1], [1, 0], [1, -1]],
                [[-1, 0], [-1, 1], [0, -1], [0, 1], [1, 0], [1, 1]]
            ];
        }

        getKeyAtCoordinates(x, y){
            if (x < 0 || y < 0) return null;
            if (y >= this.keyboard.length) return null;
            if (x >= this.keyboard[y].length) return null;

            return this.keyboard[y][x];
        }

        getRandomNearby(x, y){
            let candidates = [];
            this.neighbors[y % 2].forEach(
                (delta) => {
                    let n = this.getKeyAtCoordinates(x + delta[1], y + delta[0]);
                    if (n !== null){
                        candidates.push(n);
                    }
                }
            );
            if (candidates.length === 0) return null;
            return candidates[Math.floor(Math.random()*candidates.length)];
        }

        mangleKey(key){
            if (!this.active) return key;

            let lower = key.toLowerCase();
            let x = -1, y = -1;
            this.keyboard.forEach(
                (row, y_coord) => {
                    if (row.includes(lower)){
                        y = y_coord;
                        x = row.indexOf(lower);
                    }
                }
            );

            if (x === -1) return key;

            let prob = (this.intensity / 2) / 100;
            let random_neighbor = this.getRandomNearby(x, y);
            return(Math.random() < prob) ? (random_neighbor ? random_neighbor: key) : key;
        }
    }

    let parkinson = new Parkinson(0);

    class ADHD extends Disease {
        activateEffect(){
            super.activateEffect();
            $('#editor-window').hide();
            $("#adhd-img").attr("src", "{% url "pandemic:adhd" %}" + "?" + new Date().getTime());
            $('#dummy-editor-window').show();
        }
        removeEffect(){
            super.removeEffect();
            $("#adhd-img").attr("src", "");
            $('#dummy-editor-window').hide();
            $('#editor-window').show();
        }
    }

    let adhd = new ADHD(0);

    class Shortsightedness extends Disease{
        getEffectDuration(){
            return this.intensity * 100;
        }

        getCooldownDuration(){
            return (100 - this.intensity) * 10000 + 1;
        }

        activateEffect(){
            super.activateEffect();
            $('#editor-window').find('.editor-char').addClass('editor-char-blurred')
        }

        removeEffect(){
            super.removeEffect();
            $('#editor-window').find('.editor-char').removeClass('editor-char-blurred');
        }
    }

    let shortsightedness = new Shortsightedness(0);

    class EditorRow {
        constructor(content, pos, parent){
            this.handleCharClick = this.handleCharClick.bind(this);
            this.parent = parent;
            this.position = pos;
            this.cursor_position = 0;
            this.html = $('<div/>')
                .addClass('editor-row')
                .attr('tabindex', "0")
                .keydown(this.handleKeyDown.bind(this));

            this.content = content.split('');
            this.buildCharacters();
        }

        buildCharacters(){
            this.characters = this.content.map(
                (char, i) => {
                    let el = $('<div/>')
                        .addClass('editor-char')
                        .html(char)
                        .data('position', i)
                        .click(this.handleCharClick);
                    if (shortsightedness.active){
                        el.addClass('editor-char-blurred')
                    }
                    return el;
                }
            );
            this.characters.push(
                $('<div/>')
                    .addClass('editor-sentinel-char')
                    .html(' ')
                    .data('position', this.characters.length)
                    .click(this.handleCharClick)
            );
            this.html.empty().append(this.characters);
        }

        append(content){
            this.content.push(...content);
            this.buildCharacters();
        }

        setCursorPosition(position){
            this.cursor_position = position;
            setCursor(this.characters[this.cursor_position]);
        }

        getContent(){
            return this.characters.filter((x) => x.hasClass('editor-char')).reduce(
                (acc, char_el) => {
                    return acc + char_el.text()
                }, ""
            )
        }

        handleKeyDown(e){
            console.log(e.keyCode, e.key);
            switch (e.keyCode) {
                case 13: {
                    let remainder = this.getContent().slice(this.cursor_position);
                    this.content = this.content.slice(0, this.cursor_position);
                    this.buildCharacters();
                    this.parent.newLine(this.position, remainder);
                    break;
                }
                case 8: {
                    if (this.cursor_position === 0){
                        this.parent.removeLine(this.position, this.content.slice(this.cursor_position));
                    } else {
                        this.content.splice(this.cursor_position -1, 1);
                        this.buildCharacters();
                        this.cursor_position--;
                        setCursor(this.characters[this.cursor_position]);
                    }
                    break
                }
                case 37: {
                    this.cursor_position = Math.max(this.cursor_position - 1, 0);
                    setCursor(this.characters[this.cursor_position]);
                    break
                }
                case 39: {
                    this.cursor_position = Math.min(this.cursor_position + 1, this.content.length);
                    setCursor(this.characters[this.cursor_position]);
                    break
                }
                default: {
                    if (non_printable.includes(e.keyCode)) break;

                    this.content.splice(this.cursor_position, 0, parkinson.mangleKey(e.key));
                    this.buildCharacters();
                    this.cursor_position ++;
                    setCursor(this.characters[this.cursor_position]);
                }
            }
        }

        handleCharClick(e){
            e.preventDefault();
            this.cursor_position = $(event.currentTarget).data('position');
            setCursor(this.characters[this.cursor_position]);
        }
    }

    class EditorWindow {
        constructor(content){
            this.html = $('#editor-window');
            this.cursor_position = 0;
            this.rows = content.split('\n').map(
                (c, i) => {
                    return new EditorRow(c, i, this)
                }
            );
            this.html.append(...this.rows.map((x) => x.html));

            this.cursor_blink = setInterval(() => {
                if (editor.cursored_element){
                    if (!editor.cursored_element.hasClass('editor-char-cursor')){
                        editor.cursored_element.addClass('editor-char-cursor');
                    } else {
                        editor.cursored_element.removeClass('editor-char-cursor');
                    }
                }
            }, 500);
        }

        removeLine(position, remainder){
            if (position > 0){
                this.rows.forEach((row, index) => {
                    if (index > position) row.position--;
                });
                this.rows.splice(position, 1);
                this.html.children().slice(position, position + 1).remove();
                let prev_line_len = this.rows[position - 1].content.length;
                this.rows[position - 1].append(remainder);
                this.rows[position - 1].setCursorPosition(prev_line_len);
                this.rows[position - 1].html.focus()
            }

        }

        newLine(position, content){
            this.rows.forEach((row, index) => {
                if (index > position) row.position++;
            });
            let new_row = new EditorRow(content, position + 1, this);
            this.rows.splice(position + 1, 0, new_row);
            $("#editor-window > div:nth-child(" + (position + 1) + ")").after(new_row.html);
            setCursor(new_row.html.children().first());
            new_row.html.children().first().focus()
        }

        getContent(){
            return this.rows.reduce(
                (acc, row) => {
                    return acc + row.getContent() + '\n'
                }, ''
            )
        }
    }

    class DiseasePanel {
        constructor(){
            this.diseases = []
        }

        update(diseases){

        }
    }

    class SubmitHistory {
        constructor(){
            this.container = $('#submit-history')
        }

        addSubmit(submit_id){
            this.container.append(
                $('<div/>').html('Submit ' + submit_id + ': Waiting').addClass('row').data('submit-id', submit_id)
            )
        }

        updateSubmitStatus(id, status){
            this.container
                .children()
                .filter((i, el) => {return $(el).data('submit-id') === id})
                .html('Submit ' + id + ': Processed')
        }
    }

    class Editor {
        constructor(){
            this.cursored_element = undefined;

            this.updateRules();
            this.manifested_diseases = [];
            this.active_disease_timer = setInterval(
                () => this.updateDiseases(),
                2000,
            );
            this.rule_update_timer = setInterval(
                () => this.updateRules(),
                20000
            );
            this.editor_window = new EditorWindow('Hello World\nPlease work\nReally tho');
            this.submit_history = new SubmitHistory();
            this.disease_panel = new DiseasePanel();
            $('#submit-button').click(this.submitCode.bind(this));
        }

        submitCode(){
            let payload = {
                code: this.editor_window.getContent(),
                language: $('#language-selector').val(),
                task: 1
            };
            postJson("{% url 'submit:code_submit' %}", payload, (response) => {
                this.submit_history.addSubmit(response.submit_id);
                this.submit_result_timer = setInterval(
                    () => this.pollSubmitResult(response.submit_id),
                    2000
                );
            })
        }

        pollSubmitResult(submit_id){
            let base_url = "{% url 'submit:submit_status' 4247 %}";
            getJson(base_url.replace('4247', submit_id), (response) => {
                if (response.status > 1){
                    this.submit_history.updateSubmitStatus(submit_id);
                    clearInterval(this.submit_result_timer);
                }
            })
        }

        updateDiseases(){
            getJson("{% url 'pandemic:active_diseases' %}", (data) => {
                this.disease_panel.update(data);
                data.forEach((instance) => {
                    console.log(instance);
                    let cls = undefined;
                    let params = [instance.severity, instance.effect_duration * 1000, instance.cooldown_duration* 1000];
                    switch(instance.disease.name){
                        case 'Shortsightedness': {
                            cls = shortsightedness;
                            shortsightedness.setParameters(...params);
                            break
                        }
                        case 'Parkinson': {
                            cls = parkinson;
                            parkinson.setParameters(...params);
                            break
                        }
                        case 'ADHD': {
                            cls = adhd;
                            adhd.setParameters(...params);
                            break;
                        }
                        default: {
                            break
                        }
                    }

                    if (!this.manifested_diseases.includes(instance.disease.name)){
                        if (cls) cls.manifest();
                        this.manifested_diseases.push(instance.disease.name);
                    }
                });
                this.diseases = data
            });
        }

        updateRules(){
            getJson("{% url 'pandemic:rules' %}", (data) => {this.rules = data});
        }
    }
    let non_printable = [16, 17, 18, 20, 46, 9, 38, 40];
    let editor = new Editor();
});
</script>
</html>