{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HellWorld editor</title>

    <link href="{% static "pandemic/jquery-ui.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "pandemic/bootstrap.min.css" %}">
    <script src="{% static "pandemic/jquery.min.js" %}"></script>
    <script src="{% static "pandemic/popper.min.js" %}"></script>
    <script src="{% static "pandemic/bootstrap.min.js" %}"></script>
</head>
<body>
    <div class="container">
        {% for team in teams %}
            <div class="row">
                <div class="col-md-4">
                    <h2>{{ team.name }}</h2>
                </div>
                <div class="col-md-4">
                    <h2>${{ team.resources }}</h2>
                </div>

                <div class="col-md-4">
                    <form method="POST" action="{% url "pandemic:add_resources" team.pk %}">
                        <input type="number" value="0" name="resource">
                        <input type="submit" class="btn btn-info" value="Add">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</body>